* {
  border-radius: 1px;
  font-family: Noto Sans;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #0c0c14;
  color: #a9a9a9;
}

#workspaces {
  margin-left: 0;
  padding-left: 0;
}

#workspaces button {
  padding: 0 2px;
  background-color: #121314;
  color: #b3b3b3;
}

#workspaces button.focused {
  background-color: #212223;
}

#workspaces button:hover {
  background: #bbbbbb;
}

#mode {
  background: #a32131;
  padding: 0 4px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #90a4d4;
  border-radius: 26px;
}

#battery {
  color: #9bd490;
  border-radius: 26px;
}

#memory {
  color: #af90d4;
  border-radius: 26px;
}

#cpu {
  color: #bfb0b0;
  border-radius: 26px;
}

#disk {
  color: #d69c9a;
  border-radius: 26px;
}

#pulseaudio {
  font-family: Noto Sans Mono Nerd Font;
  border-radius: 26px;
  color: #9aa5d6;
}

#backlight {
  color: #d4c390;
  border-radius: 26px;
}

#clock {
  color: #a9a9a9;
  padding-right: 15px;
  border-radius: 26px;
}

/* #pulseaudio.warning */
/*   #disk.warning */
/*   #cpu.warning */
/*   #memory.warning */
/*   #battery.warning { */
/*   color: "#000000"; */
/*   background: "#c9ae26"; */
/* } */

/* #pulseaudio.critical */
/*   #disk.critical */
/*   #cpu.critical */
/*   #memory.critical */
/*   #battery.critical { */
/*   color: "#000000"; */
/*   background: "#e01227"; */
/* } */
