* {
    border-radius: 1px;
    font-family: "Noto Sans Mono Nerd Font";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: #0c0c14;
    color: #b3b3b3;
}

#workspaces {
    margin-left: 0;
    padding-left: 0;
}

#workspaces button {
    padding: 0 2px;
    background-color: #121314;
    color: #b3b3b3;
}

#workspaces button.focused {
    background-color: #212223;
}

#mode {
    background: #a32131;
    padding: 0 4px;
}

#clock, #battery, #backlight, #network, #tray, #mode {
    padding: 0 10px;
}


#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
